body {
  background-color: #f5faff;
}

img {
  max-width: 100%;
  height: auto;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-numbers.current > span {
  background-color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity));
  color: #fff;
}